@use 'modules/normalize';
@use 'modules/variable';
@use 'modules/basic';
@use 'modules/comment';
@use 'modules/grap';
@use 'modules/header';
@use 'modules/footer';
@use 'modules/block';
@use 'modules/relatedPost';
@use 'modules/pagination';

@use 'templates/single';
@use 'templates/term';
@use 'templates/map';
@use 'templates/archive';
@use 'utilities/wp';

.u-textAlignCenter {
    text-align: center;
}

.container {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 90%;
}

.main-content {
    padding-top: 30px;
    padding-bottom: 30px;
}
.single .main-content {
    padding-top: 50px;
}

.more-link {
    font-size: 14px;
    color: var(--berry-main-color);

    &:hover {
        color: var(--berry-hover-color);
    }
}

.error-404 {
    padding-top: 20px;
    font-size: 60px;
    text-align: center;
}

.cute {
    color: var(--berry-main-color);
}

.post--item__status {
    padding: 25px 0;

    header {
        font-size: 14px;
        display: flex;
        align-items: center;
        color: var(--berry-text-gray-lightest);
        .avatar {
            width: 24px;
            height: 24px;
            margin-right: 12px;
            border-radius: 3px;
        }

        a {
            &:hover {
                color: var(--berry-text-color);
                text-decoration: underline;
            }
        }
    }

    .description {
        font-size: 16px;
        border-left: 3px solid var(--berry-border-color);
        padding-left: 10px;
        margin-top: 15px;
        line-height: 1.6;
        color: var(--berry-text-gray);
    }
}

.notice--wrapper {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-size: var(--berry-text-size-smallest);
    max-width: 800px;
    padding: 10px 15px;
    border-radius: 8px;
    position: fixed;
    z-index: 1000;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s transform;
}

@media (max-width: 768px) {
    .notice--wrapper {
        width: 80%;
    }
}

.sticky--post {
    display: flex;
    align-items: center;
    margin-right: 10px;

    svg {
        fill: var(--berry-text-gray-lightest);
        margin-right: 5px;
    }
}

.u-relative {
    position: relative;
}
