.bArticle {
    &--toc {
        summary {
            margin-bottom: 3px;
            cursor: pointer;
        }

        font-size: 14px;
        background-color: var(--berry-background-gray-light);
        padding: 10px 15px;
        border-radius: 5px;
        margin-bottom: 15px;
        li {
            margin-bottom: 0;
            line-height: 1.4;

            &::before {
                width: 42px;
                margin-left: -42px;
                padding-right: 8px;
            }

            a {
                text-decoration: none;
                &:hover {
                    color: var(--berry-main-color);
                }
            }
        }

        ul {
            padding-left: 5px;
            margin-bottom: 0;
        }
    }

    &--header {
        color: var(--berry-text-gray-lightest);
        font-size: 14px;
        display: flex;
        align-items: center;

        .flag {
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }

        .post--meta {
            margin-left: auto;
            text-transform: uppercase;
        }

        a {
            transition: 0.5s;
            &:hover {
                color: var(--berry-text-color);
                text-decoration: underline;
            }
        }
    }

    &--title {
        font-size: 26px;
        line-height: 1.4;
        margin-bottom: 5px;
        margin-top: 5px;
        font-weight: 700;

        a {
            &:hover {
                color: var(--berry-hover-color);
                text-decoration: underline;
            }
        }
    }

    &--content {
        padding-top: 15px;
    }

    &--tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 25px 0;

        a {
            color: var(--berry-text-color);
            background-color: var(--berry-background-gray);
            display: flex;
            align-items: center;
            flex: 0 0 auto;
            padding: 3px 16px 3px 10px;
            border-radius: 999rem;
            margin-right: 15px;
            font-size: 14px;

            svg {
                stroke: var(--berry-text-color);

                width: 166x;
                height: 16px;
                margin-right: 0px;
            }

            &:hover {
                color: var(--berry-text-color);
                background-color: var(--berry-background-gray-light);

                svg {
                    stroke: var(--berry-text-color);
                }
            }
        }
    }
}

.button--link,
.button--chromeless {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: rgba(0, 0, 0, 0);
    height: auto;
    line-height: inherit;
    border-width: 0;
    padding: 0;
    vertical-align: baseline;
    color: var(--berry-background-gray-light);
    white-space: normal;
}

.bArticle--footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .bArticle--actions {
        margin-right: 10px;
        font-size: 14px;
        color: var(--berry-text-gray);
        text-decoration: none;

        &:last-child {
            margin-right: 0;
        }
    }

    .button--like {
        &:hover,
        &.is-active {
            svg {
                fill: var(--berry-hover-color);
            }
        }
    }
}

.author--card {
    position: absolute;
    top: 0;
    left: -200px;
    padding-top: 80px;
    max-width: 170px;

    &__avatar {
        display: flex;
        .avatar {
            width: 36px;
            height: 36px;
            border-radius: 50%;
        }
        margin-bottom: 5px;
    }

    &__name {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.4;
        a {
            &:hover {
                color: var(--berry-hover-color);
            }
        }
    }

    &__desc {
        font-size: 14px;
        color: var(--berry-text-gray-lightest);
        line-height: 1.5;
    }

    @media (max-width: 1180px) {
        display: none;
    }
}

.button--like,
.button--share {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: flex;
    align-items: center;

    svg {
        fill: var(--berry-text-gray);
    }

    &.is-active {
        svg {
            fill: var(--berry-main-color);
        }

        .icon--active {
            display: block;
        }

        .icon--default {
            display: none;
        }
    }

    .icon--active {
        display: none;
    }

    .icon--block {
        display: none;
    }
}
