.term--header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;

    .term--image {
        width: 80px;
        height: 80px;
        border-radius: 3px;
        object-fit: cover;
        margin-bottom: 10px;
    }

    &__content {
        text-align: center;

        .term--title {
            font-size: 20px;
            font-weight: 700;
        }

        .term--description {
            font-size: 14px;
            color: var(--berry-text-light);
        }
    }
}

.month-posts {
    background-color: var(--berry-background-gray-light);
    border-radius: 5px;
}

.month-post {
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--berry-border-color-light);

    &:last-child {
        border-bottom: none;
    }

    .post-time {
        font-size: 12px;
        color: var(--berry-text-gray-lightest);
    }

    a {
        &:hover {
            color: var(--berry-hover-color);
        }
    }
}

.page-archive-title {
    font-size: 28px;
    font-weight: 700;
}
