.bComment {
    &--area {
        padding-top: 40px;
    }

    &--heroTitle {
        margin-bottom: 10px;
        font-size: 16px;
        display: flex;
        align-items: center;
        color: var(--berry-text-light);

        svg {
            margin-right: 6px;
            fill: var(--berry-text-light);
        }
    }

    &--list {
        list-style: none;
    }

    &--block {
        padding-bottom: 25px;
        padding-top: 25px;
        position: relative;
    }

    &--info {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    &--avatar {
        margin-right: 15px;
        display: flex;
        align-items: center;
        flex: 0 0 auto;

        .avatar {
            border-radius: 10px;
        }
    }

    &--author {
        display: flex;
        align-items: center;

        .url {
            display: flex;
            align-items: center;
            color: var(--berry-main-color);
        }
    }

    &--meta {
        flex: 1 1 auto;
        font-size: 14px;
        line-height: 1.4;
    }

    &--time {
        font-size: 12px;
        color: var(--berry-text-gray-lightest);
    }

    &--content {
        font-size: 14px;
        color: var(--berry-text-light);
    }
}

.comment-reply-link {
    color: var(--berry-main-color);
    border-radius: 3px;
    line-height: 1.2;
    font-size: 12px;
    cursor: pointer;
    margin-left: auto;
}

.depth-1 {
    & > .children {
        margin-left: 50px;
        border-left: 3px solid var(--berry-border-color-light);
        padding-left: 20px;
        margin-bottom: 15px;

        .avatar {
            width: 32px;
            height: 32px;
        }

        .bComment--block {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .comment {
            &:first-child {
                .bComment--block {
                    padding-top: 10px;
                }
            }

            &:last-child {
                .bComment--block {
                    padding-bottom: 10px;
                }
            }
        }
    }
}

.comment--parent__link {
    margin-right: 5px;
    color: var(--berry-main-color);
}

.no-comments {
    padding: 30px 0;
    font-size: 14px;
    color: var(--berry-text-gray);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        margin-right: 10px;
        fill: var(--berry-text-gray);
    }
}

.friend--icon {
    margin-left: 5px;
    width: 16px;
    height: 16px;
}
