.bComment {
    &--area {
        padding-top: 40px;
    }

    &--heroTitle {
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 16px;
    }

    &--list {
        list-style: none;
    }
}

.comment-reply-title,
.comments-title {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
}

.comment-reply-title {
    display: flex;
    align-items: center;
    small {
        margin-left: auto;
        font-weight: normal;
        color: var(--berry-text-gray);
    }
}

.required {
    color: #c00;
}

.comment-notes {
    font-size: 12px;
    color: var(--berry-text-gray);
}

.comment-body {
    padding-bottom: 25px;
    padding-top: 25px;
    position: relative;
}

.comment {
    .avatar {
        border-radius: 100%;
        float: left;
        margin-right: 8px;
    }

    .says {
        display: none;
    }

    .fn {
        line-height: 1.2;
        display: inline-block;
        font-weight: normal;
        padding-top: 3px;
        font-size: 14px;
        color: var(--berry-main-color);
    }

    .reply {
    }
}

.comment-metadata {
    font-size: 12px;
    color: var(--berry-text-gray-lightest);
}

.comment-content {
    font-size: 14px;
    color: var(--berry-text-light);
}

.comment-reply-link {
    color: var(--berry-main-color);
    border-radius: 3px;
    line-height: 1.2;
    font-size: 12px;
}

.comment-meta {
    overflow: hidden;
    margin-bottom: 5px;
}

.depth-1 {
    & > .children {
        margin-left: 50px;
        border-left: 3px solid var(--berry-border-color-light);
        padding-left: 20px;
        margin-bottom: 15px;

        .avatar {
            width: 32px;
            height: 32px;
        }

        .comment-body {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .comment {
            &:first-child {
                .comment-body {
                    padding-top: 10px;
                }
            }

            &:last-child {
                .comment-body {
                    padding-bottom: 10px;
                }
            }
        }
    }
}

.comment-author {
    line-height: 1.4;
}

.comment--parent__link {
    margin-right: 5px;
    color: var(--berry-main-color);
}

.no-comments {
    padding: 30px 0;
    font-size: 14px;
    color: var(--berry-text-gray);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        margin-right: 10px;
        fill: var(--berry-text-gray);
    }
}

.friend--icon {
    margin-left: 5px;
    width: 16px;
    height: 16px;
}
