.bGraph {
    ol,
    ul {
        margin-bottom: 15px;
        padding-left: 20px;
    }

    p {
        margin-bottom: 15px;
    }

    blockquote {
        margin: 0px 0 15px;
        padding: 20px;
        background-color: var(--berry-background-gray-light);
        color: var(--berry-text-gray);
        border-radius: 5px;
        border-left: 3px solid var(--berry-main-color);
        font-size: 14px;

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    strong {
        font-weight: 700;
    }

    em {
        font-style: italic;
    }

    a {
        text-decoration: underline;
        .svgIcon {
            margin-right: 4px;
        }
    }

    li {
        margin-left: 30px;
        margin-bottom: 8px;
        padding-top: 2px;
        &:before {
            content: '•';
            box-sizing: border-box;
            font-size: 14px;
            margin-left: -58px;
            padding-right: 15px;
            display: inline-block;
            text-align: right;
            width: 58px;
        }
    }

    h3 {
        color: var(--berry-text-gray-lightest);
        font-size: 20px;
    }

    h3,
    h4 {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    h4 {
        color: var(--berry-text-gray);
        font-size: 18px;
    }

    hr {
        margin-top: 52px;
        margin-bottom: 42px;
        display: block;
        border: 0;
        text-align: center;
        &:before {
            content: '...';
            display: inline-block;
            margin-left: 0.6em;
            color: var(--berry-text-gray);
            position: relative;
            top: -30px;
            font-size: 28px;
            letter-spacing: 0.6em;
        }
    }

    ol {
        counter-reset: order;
        & > li {
            &::before {
                content: counter(order, decimal) '.';
                counter-increment: order;
                padding-right: 12px;
            }
        }
    }

    code {
        font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
        font-size: 14px;
        background-color: var(--berry-background-gray-light);
        padding: 2px 6px;
        border-radius: 3px;
    }

    pre {
        font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
        font-size: 14px;
        background-color: var(--berry-background-gray-light);
        padding: 20px;
        border-radius: 3px;
        overflow-x: auto;
    }

    table {
        border: 1px solid var(--berry-border-color);
        border-collapse: collapse;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
        color: var(--berry-text-light);

        thead {
            tr {
                background-color: #f5f5f5;
            }
        }

        tr {
            background-color: #fff;

            &:hover {
                & > td {
                    background-color: #f5f5f5;
                    background-clip: padding-box;
                }
            }
        }

        td,
        th {
            border-bottom: 1px solid var(--berry-border-color);
            border-right: 1px solid var(--berry-border-color);
            transition: background-color 0.25s ease;
            height: 40px;
            min-width: 0;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            margin: 0;
            padding: 0 10px;
        }
    }

    img {
        border-radius: 5px;
    }
}
