.bHeader {
    padding-bottom: 20px;
    position: relative;

    @media (max-width: 600px) {
        padding-bottom: 30px;
    }

    .bar {
        display: flex;
        align-items: center;
        margin-top: 0px;
    }
}

.bNav--list {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: var(--berry-background-gray-light);
    margin-bottom: 50px;
    overflow-x: auto;

    li {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 14px;
        flex: 0 0 auto;

        a {
            &:hover {
                color: var(--berry-hover-gray);
                text-decoration: underline;
            }
        }
    }
}

.site-title {
    font-size: 32px;
    line-height: 1.4;
    font-weight: bold;

    &:hover {
        color: var(--berry-hover-color);
    }
}

.site-description {
    font-size: 18px;
    color: var(--berry-text-gray);
}

.inputGroup {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
        fill: var(--berry-text-gray);
    }

    .textInput {
        display: inline-block;
        vertical-align: middle;
        width: 0px;
        height: 37px;
        border: none;
        font-size: 14px;
        transition: width 0.2s, padding 0.2s;
        cursor: pointer;
        padding-left: 0;
        padding-right: 0;
        background-color: transparent;
        color: var(--berry-text-gray);

        &:focus {
            padding-left: 10px;
            width: 200px;
            cursor: text;
        }
    }
}

.socialIcon {
    display: flex;
    align-items: center;
}
