.bRelated {
    &--heroTitle {
        font-weight: bold;
        font-size: 14px;
        padding-bottom: 5px;
    }

    &--list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 15px;
        padding-bottom: 20px;
    }

    &--item {
        padding: 10px;
        border-radius: 8px;
        background-color: var(--berry-background-gray-light);
    }

    &--title {
        font-size: 16px;
        line-height: 1.4;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
            color: var(--berry-hover-color);
        }
    }

    &--meta {
        font-size: 12px;
        color: var(--berry-text-gray-lightest);
        line-height: 1;
        margin-top: 5px;
    }

    &--images {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 8px;
        margin-bottom: 0;
        padding-bottom: 5px;
        position: relative;
        display: grid;
    }

    &--image {
        /* straggle image */
        aspect-ratio: 1 / 0.67;
        border-radius: 5px;
        object-fit: cover;
    }
}
